h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.08em;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}
/* GUARANTEE */
.guarantee {
  background-color: #fff;
}

.guarantee-title {
  font-weight: 800;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 40px;
}

.guarantee__list {
  padding: 40px 20px 40px 27px;
  background-color: #f1f1f1;
}

.guarantee__list-item {
  position: relative;
  padding-left: 28px;
}

.guarantee__list-item-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #3d3d3d;
}

.guarantee__description-color {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #ff6b09;
}

.guarantee__list-item:not(:last-child) {
  padding-bottom: 24px;
  border-left: 1px dashed #b9b9b9;
}

.guarantee__list-item::before {
  content: url(./img/campfire.svg);
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 20px;
  fill: #ff6b09;
  left: -8px;
}

@media screen and (min-width: 768px) {
  .guarantee__list-item:not(:last-child) {
    padding-bottom: 20px;
  }

  .guarantee__list {
    padding: 32px 58px 32px 94px;
  }

  .guarantee__list-item {
    padding-left: 32px;
  }
}

@media screen and (min-width: 1680px) {
  .guarantee-title {
    font-size: 46px;
  }

  .guarantee__list {
    padding: 60px 278px 60px 291px;
  }

  .guarantee__list-item-description {
    font-size: 20px;
    line-height: 1.4;
  }

  .guarantee__description-color {
    font-size: 20px;
    line-height: 1.4;
  }

  .guarantee__list-item::before {
    width: 22px;
    height: 30px;
    left: -11px;
  }
}
/* REVIEWS */
/* .section {
  padding-top: 40px;
}
.reviews {
  background-color: ;
}
.reviews__container {
  padding-left: 20px;
  padding-right: 20px;
}
.reviews__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
}
.reviewer {
}
.reviewer__photo-link {
}
.reviewer__photo {
}
.reviewer__link {
}
.reviewer__progress {
}
.reviewer__name {
}
.reviewer__education {
}
.reviewer__review {
} */
